body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    height: 100vh;
    width: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.logo {
    grid-row: 1;
    grid-column: 1;
    margin: 10px;
    text-align: left;
}

.hero-container {
    background-image: linear-gradient(rgba(0,0,0,.5), black), url(images/hero-image.jpg);
    background-position: center;
    background-size: cover;

    color: whitesmoke;
    text-align: center;
}

    .hero-header {
        grid-row: 4;
        grid-column: 1/7;
        font-family: 'Kaushan Script', cursive;
        font-size: 130px;
        margin: 0; 
    }

    .hero-subheader {
        grid-row: 5;
        grid-column: 1/7;
        font-size: 20px;
        font-style: italic;
        
        margin: 0 0 50px 0;
    }

    .hero-buttons {
        grid-row: 6; 
        grid-column: 1/7;
    }    

    .hero-btnOne {
        font-size: 15px;
        border: .5px solid whitesmoke;
        
        text-decoration: none;
        color: whitesmoke;
        padding: 20px 80px;
    }

        .hero-btnOne:hover {
            background-color: whitesmoke;
            color: black;
        } 

/* BOOK APPOINTMENT */
.book-appt-form {
    grid-row: 3/8;  
    grid-column: 3/5;

    background-color: whitesmoke;
    opacity: 75%;
    border-radius: 5%;

    color: black;
}

    .book-appt-form h1 {
        margin: 40px;
        font-size: 35px;
    }

    .form-content {
        text-align: left;
        margin: 35px;
    }

    .form-content label {
        margin-right: 10px;
    }

    .form-content input {
        width: 35vb;
    }

    .form-btn {
        text-align: center;
    }

    .book-btn {
        border: none; 
        padding: 15px 22px;
        background-color: black;
        color: whitesmoke;
        font-size: 15px;
        border-radius: 5px;
    }

        .book-btn:hover {
            background-color: whitesmoke;
            border: 2px solid black;
            color: black;
        } 
